@import url(./main.css);

.footer {
  width: 100%;
  height: auto;
  background: var(--oxford-blue-354e57) 0% 0% no-repeat padding-box;
  background: #354e57 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}
.footer .footer_part {
  display: flex;
  padding: 170px 30px 70px;
}
.footer .lower_footer_part {
  padding: 40px 30px;
}
.footer .footer_part .Left_part_footer {
  width: 40%;
}
.footer .footer_part .Left_part_footer h6 {
  height: 54px;
  /* UI Properties */
  color: var(--white-ffffff);
  text-align: left;
  letter-spacing: 2.7px;
  color: #ffffff;
  opacity: 1;
  font: normal normal bold 54px/66px Proxima Nova;
}
.footer .footer_part .Left_part_footer p {
  height: 40px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 16px/20px
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white-ffffff);
  text-align: left;
  font: normal normal normal 16px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding-top: 20px;
}
.footer .footer_part .Left_part_footer .searchbox {
  width: 369px;
  height: 40px;
  /* UI Properties */
  border: 1px solid var(--white-ffffff);
  border: 1px solid #ffffff;
  opacity: 1;
  margin: 50px 0px;
}
.searchbox > input[type="text"],
.searchbox > button {
  display: block;
  background: transparent;
}

.searchbox > input[type="text"] {
  flex: 1;
  padding: 0.6em;
  border: 0em solid #fff !important;
  background: transparent;
  outline: none;
}

.searchbox > button {
  padding: 0.5em 0.7em;
  background-color: transparent;
  border: 0.1em solid #fff !important;
  color: #fff;
  border: none;
}
.footer .footer_part .right_part_footer {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
.right_part_footer .footer_links_left_part {
  display: flex;
  justify-content: space-between;
  width: 52%;
}
.right_part_footer .footer_links_left_part p,
.right_part_footer .footer_links_right_part p {
  height: 20px;
  font: var(--unnamed-font-style-normal) normal 600 16px/19px
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white-ffffff);
  text-align: left;
  font: normal normal 600 16px/19px Proxima Nova;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.right_part_footer .footer_links_left_part ul li,
.right_part_footer .footer_links_right_part ul li {
  height: 20px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-17) var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white-ffffff);
  text-align: left;
  font: normal normal normal 14px/17px Proxima Nova;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding-top: 25px;
  line-height: 3.5;
}
.footer .lower_footer_part h6 {
  height: 20px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 16px/20px
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white-ffffff);
  text-align: left;
  font: normal normal normal 16px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.footer .lower_footer_part .Privacy_and_social {
  display: flex;
}
.footer .lower_footer_part .Privacy_Policy {
  width: 40%;
}
.footer .lower_footer_part .Privacy_Policy ul {
  display: flex;
  justify-content: space-between;
}
.footer .lower_footer_part .Privacy_Policy ul li {
  height: 20px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 16px/20px
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white-ffffff);
  text-align: left;
  text-decoration: underline;
  font: normal normal normal 16px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding: 18px 0px 0px 0px;
}
.footer .lower_footer_part .social_media {
  width: 60%;
}
.footer .lower_footer_part .social_media ul {
  display: flex;
  justify-content: flex-end;
}
.footer .lower_footer_part .social_media ul li {
    padding: 18px 0px 0px 18px;
}
.footer .lower_footer_part .social_media ul li i {
  height: 19px;
  color: var(--white-ffffff);
  opacity: 1;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 920px)  {
    .footer {
        width: 100%;
        height: auto;
      }
    .footer .footer_part {
        display: flex;
        flex-direction: column-reverse;
        padding: 84px 0px 20px;;
    }
    .footer .footer_part .Left_part_footer {
        width: 100%;
        margin-top: 60px;
    }
    .footer .footer_part .Left_part_footer .searchbox {
        width: 334px;
        display: flex;
        flex-direction: row;
    }
    .footer .footer_part .right_part_footer {
        width: 100%;
        display: block;
    }
    .right_part_footer .footer_links_left_part {
        width: 95%;
    }
    .right_part_footer .footer_links_right_part ul li {
        line-height: 1.5;
    }
    .footer_links_right_part {
        margin-top: 60px;
    }
    .footer .lower_footer_part {
        padding: 50px 0px;
    }
    .footer .lower_footer_part .Privacy_and_social {
        display: block;
    }
    .footer .lower_footer_part .Privacy_Policy {
        width: 100%;
    }
    .footer .lower_footer_part .social_media {
        width: 50%;
    }
    .footer .lower_footer_part .social_media ul {
        display: flex;
        justify-content: space-between  ;
    }
    .footer .lower_footer_part .social_media ul li {
        padding: 60px 0px 0px 0px;
    }
}
