@import url(./main.css);

.image_tiles {
  background-color: #f7f7f7;
}
.image_tiles .image_tiles_heading_box .image_tiles_heading {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-28) / var(--unnamed-line-spacing-34)
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--oxford-blue-354e57);
  text-align: center;
  font: normal normal bold 28px/34px Proxima Nova;
  letter-spacing: 0px;
  color: #354e57;
  opacity: 1;
  padding-top: 100px;
}
.image_tiles .image_tiles_heading_box .image_tiles_content {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 16px / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--oxford-blue-354e57);
  text-align: center;
  font: normal normal normal 16px/24px Proxima Nova;
  letter-spacing: 0px;
  color: #354e57;
  opacity: 1;
  padding-top: 12px;
  padding-bottom: 59px;
}
.image_tiles .upper_image_tiles {
  display: flex;
  width: 100%;
  max-width: 912px;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.image_tiles .upper_image_tiles .image_tiles_data {
  width: 33.33%;
  text-align: center;
  margin-bottom: 50px;
}
.upper_image_tiles h6 {
  height: 27px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / var(--unnamed-line-spacing-17)
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--oxford-blue-354e57);
  text-align: center;
  font: normal normal bold 14px/17px Proxima Nova;
  letter-spacing: 0px;
  color: #354e57;
  opacity: 1;
}
.upper_image_tiles p {
  height: 15px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 12px/16px
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--rangitoto-2e2e22);
  text-align: center;
  font: normal normal normal 12px/16px Proxima Nova;
  letter-spacing: 0px;
  color: #2e2e22;
  opacity: 1;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 920px) {
.image_tiles .upper_image_tiles .image_tiles_data {
    width: 100%;
}
}