@import url(../style/main.css);

.product_teaser_section {
  background-color: #eef3f4;
}

.product_teaser {
  margin-top: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.popular_all_products {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.popular_all_products h5 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / var(--unnamed-line-spacing-17)
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--rangitoto-2e2e22);
  text-align: left;
  font: normal normal bold 14px/17px Proxima Nova;
  letter-spacing: 0px;
  color: #2e2e22;
  opacity: 1;
}

.Products {
  display: flex;
  margin-top: 29px;
}

.Products .product_box_1,
.Products .product_box_2 {
  display: flex;
  width: 50%;
}
.product_1,.product_2 {
  width: 50%;
}

.card {
  max-width: 300px;
  height: 462px;
  margin: auto;
  /* text-align: center; */
  padding-left: 20px;
}

.card h5 {
  /* width: 78px; */
  height: 14px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / var(--unnamed-line-spacing-17)
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--rangitoto-2e2e22);
  text-align: left;
  font: normal normal bold 14px/17px Proxima Nova;
  letter-spacing: 0px;
  color: #2e2e22;
  opacity: 1;
  margin-top: 14px;
}

.card p {
  /* width: 119px; */
  height: 15px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 12px/16px
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--rangitoto-2e2e22);
  text-align: left;
  font: normal normal normal 12px/16px Proxima Nova;
  letter-spacing: 0px;
  color: #2e2e22;
  opacity: 1;
  padding-top: 3px;
}

.price {
  width: 38px;
  height: 15px;
  font: var(--unnamed-font-style-normal) normal medium 12px/15px
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--rangitoto-2e2e22);
  text-align: left;
  font: normal normal medium 12px/15px Proxima Nova;
  letter-spacing: 0px;
  color: #2e2e22;
  opacity: 1;
  margin-top: 6px;
}

.card button {
  width: 251px;
  height: 35px;
  border: 1px solid var(--oxford-blue-354e57);
  border: 1px solid #354e57;
  opacity: 1;
  margin-top: 11px;
  cursor: pointer;
}
.card button:hover {
background-color: #fff;
}

.image_bg {
  background-color: #fff;
  width: 251px;
  height: 346px;
}
.image_bg .new_box,
.image_bg .discount_box {
  height: 28px;
  background: var(--alabasterr-f7f7f7) 0% 0% no-repeat padding-box;
  background: #f7f7f7 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
  top: 15px;
  left: 15px;
}
.image_bg .new_box {
  width: 50px;
}
.image_bg .discount_box {
  width: 59px;
}

.image_bg .new_box h5 {
  width: 27px;
  height: 12px;
  font: var(--unnamed-font-style-normal) normal 600 12px/14px
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--oxford-blue-354e57);
  text-align: left;
  font: normal normal 600 12px/14px Proxima Nova;
  letter-spacing: 0px;
  color: #354e57;
  opacity: 1;
  padding: 8px;
}
.image_bg .discount_box h5 {
  /* width: 38px;
  height: 12px; */
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal 600 12px/14px
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--cape-palliser-a67744);
  text-align: left;
  font: normal normal 600 12px/14px Proxima Nova;
  letter-spacing: 0px;
  color: #a67744;
  opacity: 1;
  padding: 8px;
}

.image_bg img,
.image_background img {
  margin-top: 60px;
  margin-left: 15px;
  width: 90%;
}
.bg_image_box_1 {
  background: #fff url("../assets/acne_cream.png") 50% 140% no-repeat padding-box;
}
.bg_image_box_2 {
  background: #fff url("../assets/vitiligio.png") 50% 90% no-repeat padding-box;
}
.bg_image_box_3 {
  background: #e3e5e4 url("../assets/soothbottle.png") 50% 80% no-repeat padding-box;
}
.bg_image_box_4 {
  background: #fff url("../assets/sunburn.png") 50% 65% no-repeat padding-box;
}
.image_background {
  background-color: #e3e5e4;
  width: 251px;
  height: 346px;
  margin-top: 13.7px;
}
.fa-shopping-cart {
  padding-right: 15px;
}
.img_back {
  margin-top: 0px;
  background-color: #fff;
}
.Second_product_teaser {
  margin-top: 93px;
}
.products .background_hover_image {
  height: 100%;
  width: 100% !important;
}
.products .background_hover_image img{
  object-fit: cover;
}
#bg_1:hover {
background: url(../assets/smiling_boy.png) 0% 0% no-repeat padding-box;

background-size: 300px 462px;
}

@media only screen and (min-device-width: 100px) and (max-device-width: 320px) { 
  .popular_all_products,
  .image_bg .new_box,
  .image_bg .discount_box {
    display: none;
  }
  .Products {
    display: block;
    margin-top: 0px;
    margin-left: -20px;
  }
  .Products .product_box_1, .Products .product_box_2 {
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.product_1, .product_2 {
  width: 100%;
}
  .card {
    max-width: 300px;
    height: 462px;
    margin: auto;
    /* text-align: center; */
    /* padding-left: 0px; */
  }
  .image_bg {
    background-color: #fff;
    width: 100%;
    height: 346px;
  }
  .card button {
    width: 135px;
}
  .card button i {
    display: none;
  }
  /* .card button:hover {
    display: block;
  } */
  .image_background {
    width: 100%;
    margin-top: 0px;
}
.image_bg img, .image_background img {
  width: 130%;
  margin-top: 85px;
  margin-left: -20px;
}
  .Products .product_box_2 {
    margin-top: 29px;
  }

  .bg_image_box_1 {
    background: #fff url("../assets/acne_cream.png") 50% 80% no-repeat padding-box;
    background-size: 130px 180px;
  }
  .bg_image_box_2 {
    background: #fff url("../assets/vitiligio.png") 50% 60% no-repeat padding-box;
    background-size: 160px 195px;
  }
  .bg_image_box_3 {
    background: #e3e5e4 url("../assets/soothbottle.png") 50% 60% no-repeat padding-box;
    background-size: 160px 195px;
  }
  .bg_image_box_4 {
    background: #fff url("../assets/sunburn.png") 50% 60% no-repeat padding-box;
    background-size: 160px 195px;
  }
}
@media only screen and (min-device-width: 321px) and (max-device-width: 768px) {
  .popular_all_products,
  .image_bg .new_box,
  .image_bg .discount_box {
    display: none;
  }
  .Products {
    display: block;
    margin-top: 0px;
    margin-left: -20px;
  }
  .Products .product_box_1, .Products .product_box_2 {
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.product_1, .product_2 {
  width: 100%;
}
  .card {
    max-width: 300px;
    height: 462px;
    margin: auto;
    /* text-align: center; */
    /* padding-left: 4px; */
  }
  .image_bg {
    background-color: #fff;
    width: 100%;
    height: 346px;
  }
  .card button {
    width: 159px;
  }
  .card button i {
    display: none;
  }
  /* .card button:hover {
    display: block;
  } */
  .image_background {
    width: 100%;
    margin-top: 0px;
}
  .image_bg img,
  .image_background img {
    width: 100%;
  }
  .Products .product_box_2 {
    margin-top: 29px;
  }
  .bg_image_box_1 {
    background: #fff url("../assets/acne_cream.png") 50% 80% no-repeat padding-box;
    background-size: 130px 180px;
  }
  .bg_image_box_2 {
    background: #fff url("../assets/vitiligio.png") 50% 60% no-repeat padding-box;
    background-size: 160px 195px;
  }
  .bg_image_box_3 {
    background: #e3e5e4 url("../assets/soothbottle.png") 50% 60% no-repeat padding-box;
    background-size: 160px 195px;
  }
  .bg_image_box_4 {
    background: #fff url("../assets/sunburn.png") 50% 60% no-repeat padding-box;
    background-size: 160px 195px;
  }
}
@media only screen and (min-device-width: 991px) and (max-device-width: 1024px) {
  .popular_all_products,
  .image_bg .new_box,
  .image_bg .discount_box {
    display: none;
  }
  .Products {
    display: flex;
    margin-top: 20px;
    margin-left: -20px;
  }
  .card {
    max-width: 300px;
    height: 462px;
    margin: auto;
  }
  .image_bg {
    background-color: #fff;
    width: 100%;
    height: 346px;
  }
  .card button {
    width: 100%;
  }
  .image_background {
    width: 100%;
    margin-top: 0px;
}
  .image_bg img,
  .image_background img {
    width: 100%;
  }
  /* .Products .product_box_2 {
    margin-top: 29px;
  } */
}