@import url("./main.css");
@import url("./Header.css");
@import url("./Hero_banner.css");
@import url("./secondary_banner.css");
@import url("./feature_banner.css");
@import url("./News_letter.css");
@import url("./product_teaser.css");
@import url("./teaser.css");
@import url("./Second_Teaser.css");
@import url("./Image_tiles.css");
@import url("./Footer.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'ProximaNova', sans-serif;
}
body {
    background-color: var(--light-sky-eef3f4);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

